.card{
    margin-left: 43%;
    margin-top: 15%;
  width:200px;
  height: 250px;
  background-color: black;
  border: 5px solid;
  border-image: 
  linear-gradient(
    #ff512f,
    #dd2476,
    #1c64ff) 1;
  animation: rotate
    2.5s
    ease-in
    infinite;

}

@keyframes rotate{
  50%{
      border-image:
        linear-gradient(
          360deg,
          #ff512f,
          #dd2476,
          #1c64ff) 1 ;
  }
}

.words{
    color: white;
    margin-left: 25%;
    margin-top: 55%;
}
