.card{
  width:200px;
  height: 250px;
  boder: 5px solid;
  border-image: 
  linear-gradient(
    #ff512f,
    #dd2476,
    #1c64ff) 1;
  animation: rotate
    2.5s
    ease-in
    infinite;
}

@keyframes rotate{
  50%{
      border-image:
        linear-gradient(
          360deg,
          #ff512f,
          #dd2476,
          #1c64ff) 1 ;
  }
}
          
